@font-face {
  font-family: "iconfont"; /* Project id 5007233 */
  src: url('//at.alicdn.com/t/c/font_5007233_urijx6phta9.woff2?t=1756184694916') format('woff2'),
       url('//at.alicdn.com/t/c/font_5007233_urijx6phta9.woff?t=1756184694916') format('woff'),
       url('//at.alicdn.com/t/c/font_5007233_urijx6phta9.ttf?t=1756184694916') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 20px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-leetcode1:before {
  content: "\e7ad";
}

.icon-gitee:before {
  content: "\e602";
}


.icon-gitee:hover {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}