/* 重构hexo的布局，保持全屏，不设置最宽的限制 */


.layout {
    flex: 1 auto;
    margin: 0 auto;
    padding: 40px 15px;
    max-width: -webkit-fill-available !important;
    width: 100%;
}

/* 主容器样式 */
.container {
    max-width: -webkit-fill-available !important;
	margin: 0 auto;
    padding: 0 auto;
	width: 100%;
}
