.poetry-page {
    background: var(--card-bg);
}

.poem-card {
    background: var(--card-bg);
    box-shadow: var(--card-box-shadow);
    border: 1px solid var(--line-color);
}

.poem-description {
    background: var(--theme-color);
}

.card-footer {
    background: var(--card-bg);
    border-top: 1px solid var(--line-color);
}

.read-more {
    border: 1px solid var(--theme-color);
}

.read-more:hover {
    background: var(--theme-color);
}

.pagination-wrap {
    background: var(--card-bg);
    border-top: 1px solid var(--line-color);
    border-bottom: 1px solid var(--line-color);
}

.pagination {
    background: var(--card-bg);
    box-shadow: var(--card-box-shadow);
}

.page-link {
    border: 2px solid var(--line-color);
    color: var(--font-color);
    background: var(--card-bg);
}

.page-link:hover:not(.disabled):not(.current) {
    background: var(--second-bg);
    border-color: var(--theme-color);
}

.page-link.current {
    background: var(--theme-color);
    border-color: var(--theme-color);
}

.page-link.disabled {
    background: var(--card-bg);
    border-color: var(--line-color);
}